* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background: #141414;
	color: #ffffff;
}
.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
	display: block;
	
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay2 {
	opacity: 1;
}

.overlay2 {
	position: absolute;
	background: rgba(8, 8, 8);
	width: 30%;
	height: 10%;
	opacity: 0;
	bottom: 20px;
	left: 95px;
	font-size: 15px;
	padding: 0;
	text-align: right;
}

.form-movie-search {
	position: absolute;
	text-align: center;
	width: 50%;
	left: 0px;
	right: 0;
	top: 105px;
	margin: auto;
	display: block;
	flex-wrap: wrap;
}

.add-movie-btn{
	position: relative;
	left: 401px;
	right: 0;
	margin: auto;
	bottom: 39px;
}
h1{
	position:relative;
	left: 0;
	right: 0;
	margin: auto
}

@media only screen and (max-width: 700px) {
	.images {
	  width: 49.99999%;
	  margin: 6px 0;
	}
  }
  
  @media only screen and (max-width: 500px) {
	.images {
	  width: 100%;
	}
	.add-movie-btn{
		position: relative;
		left: 30%;
		right: 0;
		margin: auto;
		top: 4px;
	}
  }
  